html
    head
        if staticContent.app && staticContent.app.title
            title= staticContent.app.title
        else
            title= 'One North'

        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.0/css/bulma.min.css')
        link(rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        block head
    body

        #app
            block content

        script(src="https://cdnjs.cloudflare.com/ajax/libs/vuex/2.1.1/vuex.js")
        script(src="https://unpkg.com/vue/dist/vue.js")

        block scripts
