html
    head
        title= 'One North'
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.0/css/bulma.min.css')
        block head
    body

        block content

        script(src="https://unpkg.com/vue/dist/vue.js")

        block scripts
