extends ../index.pug


block content

    section.hero.is-dark.is-bold.is-medium
        .hero-body
            .container
                h1.title.is-1= staticContent.title
                h2.subtitle.is-3= staticContent.subtitle

    ul.container
        developer-tile( v-for="dev in developers"
                        v-bind:developer="dev" )

    script(type="text/x-template" id="developerTileTemplate")
        include views/developer-tile.pug


block scripts
    script(type="text/javascript").

        Vue.component('developerTile', {

            template: '#developerTileTemplate',

            props: ['developer']

        });

        var vm = new Vue({

            el: '#app',

            data: !{data},

            created: function(){
                console.log('Received ' + this.developers.length + ' developers.');
            }

        });
