extends ../index.pug

block content
    section.hero.is-dark.is-bold.is-medium
        .hero-body
            .container
                h1.title= title
                h2.subtitle= subtitle

    ul.container(style={'padding-top': '20px'})
        each developer in developers
            article.media
                figure.media-left
                    p.image.is-128x128
                        img(src='http://bulma.io/images/placeholders/128x128.png')
                .media-content
                    .content(style={'padding': '20px'})
                        h2= developer.name
                        p= 'Favorite Language: ' + developer.favoriteLanguage
