extends ../index.pug

block content
    section.hero.is-dark.is-bold.is-medium
        .hero-body
            .container
                h1.title= developer.name
                h2.subtitle= developer.favoriteLanguage
